/*i页面样式开始*/

/*网页主体部分开始*/
    /*网页上部分导航开始*/
.nav{
    width: 1000px;
    margin:40px auto 0 auto;
}

.sidebars{
    width: 195px;
    float: left;
    background-color: #f6f6f6;
    padding: 0 20px;
    border-top: 3px solid #008fd1;
    font-family: '微软雅黑';
}
.nav_title{
    font-size: 16px;
    color: #008fd1;
    line-height: 60px;
    height: 60px;
}
.main_box{
    display: none;
}
.main_menu {
    padding: 5px 0;
}
.main_menu h3{
    color:#333232; 
}
.main_menu a{
    line-height: 40px;
    padding: 0 5px;
    color:#555555; 
}
.main_sub{
    display: none;
}
.nav_items{
    float: left;
}
.nav_items li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    float: left;
}
.nav_items li a{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333333;
}

/*网页上部分导航结束*/


/*用户浏览位置开始*/
.bread_nav{
    clear:both;
    width: 1000px;
    margin:0 auto;
    height: 40px;
    line-height: 40px;

}
.bread_nav a{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 5px;
}

/*用户浏览位置结束*/

/*辅导机主体开始*/
.jg{
    width: 1000px;
    margin:20px auto 20px auto;
    height: auto; 
    clear: both;
}
.jg h3{
    color: #008fd1;
    font-family: "微软雅黑";
}

.list_jigou{
    width: 300px;
    height: 280px;
    margin: 16px;
    float: left;
}
.list_jigou img{
    width: 300px;
    height: 185px;
    background: #008fd1;
}

.list_jigou h4 a{
    color: #333333;
    font-family: "微软雅黑";
    margin: 10px 0 10px 0;
}
.list_jigou p{
    height: 30px;
    line-height: 30px;
}
.list_more{
    clear: both;
    margin-bottom: 50px;
}
.list_more p{
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-family: "微软雅黑";
    background-color: #f6f6f6;
}
.list_more p a{
    color: #333333;
}
/*辅导机构主体结束*/
/*主体部分结束*/

/*悬浮导航*/

.float_nav{
    position:fixed;
    width: 80px;
    height: 400px;
    left: 50%;
    top: 0;
    margin:150px 0 0 -650px;
    z-index: 777;
}

.float_nav li{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid #ccc;
    cursor: pointer;
}

.float_nav li:hover{
    background: #008fd1;
    color: white;
}






