/*i页面样式开始*/

/*网页主体部分开始*/
    /*网页上部分导航开始*/
.nav{
    width: 1000px;
    margin:40px auto 0 auto;
}

.sidebars{
    width: 195px;
    float: left;
    background-color: #f6f6f6;
    padding: 0 20px;
    border-top: 3px solid #008fd1;
    font-family: '微软雅黑';
}
.nav_title{
    font-size: 16px;
    color: #008fd1;
    line-height: 60px;
    height: 60px;
}
.main_box{
    display: none;
}
.main_menu {
    padding: 5px 0;
}
.main_menu h3{
    color:#333232; 
}
.main_menu a{
    line-height: 40px;
    padding: 0 5px;
    color:#555555; 
}
.main_sub{
    display: none;
}
.nav_items{
    float: left;
}
.nav_items li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    float: left;
}
.nav_items li a{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333333;
}

/*网页上部分导航结束*/


/*用户浏览位置开始*/
.bread_nav{
    clear:both;
    width: 1000px;
    margin:0 auto;
    height: 40px;
    line-height: 40px;

}
.bread_nav a{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 5px;
}

/*用户浏览位置结束*/


/*机构信息部分特别开始*/
.wrap{
    width: 1000px;
    margin:0 auto;
}
    /*左侧课程信息开始*/
.main_course{
    float: left;
    width: 720px;
}
.list_course{
    width: 400px;
    font-family: "微软雅黑";
    line-height: 50px;
    border-left: 2px solid #008fd1;
    height: 270px;
    margin:20px 0 20px 0;
    padding-left: 60px;
    float: left;
}
.list_course h3 a{
    font-family: "微软雅黑";
    color: #008fd1;
}
.list_course p{
    font-size: 14px;
    color: #3a3a3a;
    font-family: "微软雅黑";
}
.border span{
    border:1px solid black;
    margin:10px;
}
.backcolor{
    background-color: #f6f6f6;
}


.list_button{
   width: 150px;
   float: left;
}

.jigou_desc{
     float: right;
     width: 260px;
}
.jigou_desc h3{
    color: #2a8fbd;
    border-bottom: 10px solid #f6f6f6;
}
.jigou_desc img{
    background-color:#2a8fbd;
    width: 260px;
    height: 140px;
    margin:10px 0 10px 0; 
}
.jigou_desc p{
    line-height: 40px;
    font-family: "微软雅黑";
}
.jigou_desc a{
    font-family: "微软雅黑";
    color: #008fd1;
}




/*主体部分结束*/

.page{
    clear: both;
    margin:0 auto;
}

.page p{
    font-family: "微软雅黑";
    font-size: 14px;
}

.page a{
    font-family: "微软雅黑";
    color:white;
    padding:10px;
    margin:10px;
    display: inline-block;
    background-color:  #008fd1;
}











