/*i页面样式开始*/


/*网页主体部分开始*/
    /*网页上部分导航开始*/

.nav{
    width: 1000px;
    margin:40px auto 0 auto;
}

.sidebars{
    width: 195px;
    float: left;
    background-color: #f6f6f6;
    padding: 0 20px;
    border-top: 3px solid #008fd1;
    font-family: '微软雅黑';
}
.nav_title{
    font-size: 16px;
    color: #008fd1;
    line-height: 60px;
    height: 60px;
}
.main_box{
    display: none;
}
.main_menu {
    padding: 5px 0;
}
.main_menu h3{
    color:#333232; 
}
.main_menu a{
    line-height: 40px;
    padding: 0 5px;
    color:#555555; 
}
.main_sub{
    display: none;
}
.nav_items{
    float: left;
}
.nav_items li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    float: left;
}
.nav_items li a{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333333;
}

/*网页上部分导航结束*/


/*用户浏览位置开始*/
.bread_nav{
    clear:both;
    width: 1000px;
    margin:0 auto;
    height: 40px;
    line-height: 40px;

}
.bread_nav a{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 5px;
}

/*用户浏览位置结束*/


/*课程信息部分特别开始*/

    /*课程信息开始*/
.main_course{
    width: 1000px;
    margin:0 auto;
}
.course{
    width: 1000px;
    height: 270px;
    border-left: 2px solid #008fd1;
    margin:30px 0 30px 0;
}

.course_img{
    width: 420px;
    height: 270px;
    background-color:  #008fd1;
    float: left;
    margin:0px 50px 0px 30px;
}

.list_course{
    font-family: "微软雅黑";
    line-height: 50px;
    height: 270px;
    width: 300px;
    float: left;
}
.list_course h3 a{
    font-family: "微软雅黑";
    color: #008fd1;
}
.list_course p{
    font-size: 14px;
    color: #3a3a3a;
    font-family: "微软雅黑";
}
.border span{
    border:1px solid black;
    margin:10px;
}
.backcolor{
    background-color: #f6f6f6;
}
.list_button{
   width: 150px;
   float: left;
}

/*主体部分结束*/

.page{
    width: 1000px;
    clear: both;
    margin:0 auto;
}

.page a{
    font-family: "微软雅黑";
    color:white;
    padding:10px;
    margin:10px;
    display: inline-block;
    background-color:  #008fd1;
}


/*课程信息页面样式特别开始*/











