/*i页面样式开始*/

/*网页主体部分开始*/
    /*网页上部分导航开始*/
.nav{
    width: 1000px;
    margin:40px auto 0 auto;
}

.sidebars{
    width: 195px;
    float: left;
    background-color: #f6f6f6;
    padding: 0 20px;
    border-top: 3px solid #008fd1;
    font-family: '微软雅黑';
}
.nav_title{
    font-size: 16px;
    color: #008fd1;
    line-height: 60px;
    height: 60px;
}
.main_box{
    display: none;
}
.main_menu {
    padding: 5px 0;
}
.main_menu h3{
    color:#333232; 
}
.main_menu a{
    line-height: 40px;
    padding: 0 5px;
    color:#555555; 
}
.main_sub{
    display: none;
}
.nav_items{
    float: left;
}
.nav_items li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    float: left;
}
.nav_items li a{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333333;
}

/*网页上部分导航结束*/


/*用户浏览位置开始*/
.bread_nav{
    clear:both;
    width: 1000px;
    margin:0 auto;
    height: 40px;
    line-height: 40px;

}
.bread_nav a{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 5px;
}

/*用户浏览位置结束*/

/*用户视频试听开始*/
.course_all{
    width: 1000px;
    margin:0 auto;
    height: 440px;
    background-color: #f6f6f6;
}

.course_video{
    float: left;
}

.course_video img{
    width: 700px;
    height: 440px;
    background:#008fd1; 
}

.course_p{
    float: right;
    line-height: 40px;
    padding: 20px;
    width: 250px;
}
.course_p h3{
    font-size: 24px;
    width: 220px;
    height: 60px;
    background: url("../images/baoming.jpg") no-repeat;
    text-align: center;
    line-height: 60px;
    margin-bottom: 50px;
}
.course_p h3 a{
    color: white;
    font-family: "微软雅黑";
}
.course_p p{
    font-family: "微软雅黑";
    color: #383838;
}
.course_p a{
    color: #383838;   
}

/*主体部分结束*/


.tabs{
    width: 1000px;
    height: 100px;
    margin: 30px auto;
    clear: both;
    /*position: fixed;*/
}
.tabs li{
    width: 220px;
    height: 80px;
    line-height:80px;
    text-align: center;
    font-family: "微软雅黑";
    float: left;
}
.tabs li a{
    color: black;
    display: block;
    width: 220px;
    height: 80px;
    font-size: 24px;
    border:2px #c9c9c9 solid;
    cursor: pointer;
}
.tabs li a:hover{
    border-bottom: 0px;
    color: #2a8fbd;
    cursor: pointer;
}
#or_a {
    display: block;
    width: 116px;
    height: 84px;
    color: white;
    background: #008fd1;
    font-family: "微软雅黑";
    font-size: 24px;
    float: right;
    line-height: 80px;
    text-align: center;
}
.course_info{
    width: 1000px;
    height: auto;
    margin: 15px auto;
}
#info1{
    width: 920px;
    height: auto;
    height: 520px;
    border: 3px solid #008fd1;
    padding:40px;
}
.teacher_img  img{
    width: 220px;
    height: 300px;
    background: blue;
    float: left;
    overflow: hidden;
}
.teacher_info p{
    float: left;
    width: 500px;
    margin-left: 40px;
    line-height: 30px;
    font-family: "微软雅黑";
}
.teacher_info span{
    color: #666;
}

#info2{
    clear: both;
    width: 920px;
    height: 520px;
    border: 3px solid #008fd1;
    padding: 40px;
}
#info2 li{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-family: "微软雅黑";
}
#info2 li a{
    color: #666;
    margin-left: 30px;
}

#info3{
    width: 920px;
    height: 520px;
    border: 3px solid #008fd1;
    padding: 40px;
}
#info3 img{
    width: 800px;
    height: 400px;
    background: blue;
}
#info4{
    width: 920px;
    height: 520px;
    border: 3px solid #008fd1;
    padding: 40px;
}
#info4 li{
    padding: 15px;
}
.com_name, .com_time{
    float: left;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.com_time{
    margin-left: 20px;
    float: right;
    margin-top: -20px;
}
.com_star{
    float: right;
    clear: both;
}
.com_content{
    clear: both;
}



