/*index页面样式开始*/
/*网页头部开始*/
.top{
    width: 100%;
    height: 110px;
    border-top: 4px #008fd1 solid;
    background-color: #f6f6f6;
}

.top_content{
    width: 1000px;
    margin:0 auto;
    clear: both;
}
.top_content img{
    float: left;
    margin-top: 10px;
}
.top_menu{
    float: left;
    margin-left: 20px;
}
.top_menu li{
    line-height: 110px;
    text-align: center;
    width: 140px;
    float: left;
} 
 .top_menu li a{
    color: #008fd1;
    font-family: '微软雅黑';
    font-size: 24px;
    /*display: block;*/
    display: inline-block;
}
 .top_menu li a:hover{
    border-bottom: 3px solid #008fd1;
}
.top_top{
    float: right;
    height: 35px;
    line-height: 35px;
    background-color: #008fd1;
}
.top_top li{
    color: white;
    float: left;
}

.top_top li a{
    padding: 0 20px;
    color: white;
}
/*网页头部结束*/

/*网页主体部分开始*/
    /*网页左侧导航部分开始*/
.main{
    width: 1000px;
    margin:40px auto 0 auto;
    background-color: red;
}

.sidebars{
    width: 195px;
    float: left;
    background-color: #f6f6f6;
    padding: 0 20px;
    border-top: 3px solid #008fd1;
    font-family: '微软雅黑';
    height: 870px;
}
.nav_title{
    font-size: 16px;
    color: #008fd1;
    line-height: 60px;
    height: 60px;
}
.main_box{

}
.main_menu {
    padding: 5px 0;
}
.main_menu h3{
    color:#333232; 
}
.main_menu a{
    line-height: 50px;
    padding: 0 5px;
    color:#555555; 
}
.main_sub{
    display: none;
}
    /*网页左侧导航部分结束*/

    /*网页右侧部分开始*/

.main_right{
    float: right;
    width: 710px;
}
.main_right_search{
    height: 40px;
}

.search_choose{
    float: left;
}
.search_choose{
   border: 2px solid #008fd1;
   width: 100px;
   height: 44px;

   line-height: 45px;
   margin-top: 1px;
   font-family: "微软雅黑";
   font-size: 16px;
   padding-left: 20px;
}
.search_choose option{
    padding-left: 20px;
    height: 30px;
    padding-top: 5px;
    border:0px;
    border: 2px solid #008fd1;
}
.search_choose a{
    color: #333333;
}


.search-text{
    width: 500px;
    height: 40px;
    border:2px solid #008fd1;
    font-family: "微软雅黑";
}

.search-button{
    width: 93px;
    height: 46px;
    color: white;
    background-color: #008fd1;
    font-size: 16px;
    font-family: "微软雅黑";
    margin-left: -5px;
}

/*图片滚动开始*/
 #container { width: 690px; height: 400px; border: 3px solid #008fd1; overflow: hidden; position: relative;margin-top: 10px;}
#list { width: 5320px; height: 400px; position: absolute; z-index: 1;}
#list img { float: left;}
#buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 300px;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
#buttons .on {  background: orangered;}
.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#container:hover .arrow { display: block;}
#prev { left: 20px;}
#next { right: 20px;}
/*图片滚动结束*/

.main_right_news{
    width: 710px;
    height: 40px;
    background-color: #f6f6f6;
    text-align: left;
    line-height: 40px;
}
.main_right_news a{
    font-family: "微软雅黑";
    color: #008fd1;
}

.main_right_block{
    width: 710px;
    margin-top: 20px;
}
.main_right_block img{
    width: 330px;
    height: 150px;
    margin:10px;
    background-color:#008fd1;
}

/*网页右侧部分结束*/

/*电话部分开始*/
.phone{
    width: 100%;
    height: 80px;
    background-color: #f6f6f6;
    clear: both;
}
.phone_content{
    width: 1000px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin:0 auto; 
}
.phone_content p{
    color: #008fd1;
    font-family: "微软雅黑";
    font-size:32px;
}

.phone_content span{
    color: #333333;
    font-family: "微软雅黑";
    font-size:14px;
    margin-left: 28px;
}

/*底部部分开始*/
.footer{
    width: 100%;
    height: 230px;
    background-color:#f6f6f6;
    margin-top: 5px; 
    clear: both;
}
.footer_content{
    width: 1000px;
    height: 80px;
    text-align: center;
    margin:0 auto; 
    padding-top: 30px;  
}
.footer_content li{
    float: left;
    width: 250px;
    line-height: 40px;
}

.footer_content  h3{
    font-family: "微软雅黑";
    font-size: 20px;
}
.footer_content li a{
    color: #333333;
    font-family: "微软雅黑";
}

/*版权部分开始*/

.copyright{
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
    margin-top: 5px;
    clear: both;
}
.copyright_content{
    width: 1000px;
    height: 40px;
    margin:0 auto;
    line-height: 40px;
    text-align: center;
}
.copyright_content p{
    font-family: "微软雅黑";
}

/*index页面样式结束*/



/*版区信息页面*/
.info{
    width: 1000px;
    margin:30px auto;
    background: white;
    border:2px solid  #008fd1;
    padding: 20px;
}

.info h3{
    text-align: center;
    clear: both;
}

.info_content{
    width: 1000px;
    min-height:200px;  
    _height: 200px;
}






