body{
    background: #f7f7f7;
}
.pay{
    width: 1000px;
    height: 800px;
    margin:0 auto;
}
.pay_top{
    clear: both;
    padding-top: 50px;
}
.pay_top a{
    display:inline-block;
}
.pay_top span{
    display: inline-block;
    border-left: 1px solid #ccc;
    font-family: "微软雅黑";
    margin:0px 0 20px 20px;
    padding: 0 20px;
}
.pay_check{
    color:#4da0c8;
    font-family: "微软雅黑";
    font-size: 20px;
    display: block;
    padding-left: 30px;
}
.pay_table{
    width: 1000px;
    border:1px solid #587e8b;
    margin:20px 0;
    font-family: "微软雅黑";
}
.pay_table tr{
    border:1px solid #587e8b;   
}
.pay_table tr td{
    border:1px solid #587e8b;
    width: 210px;
    height: 40px;
    line-height: 25px;
    padding-left: 10px;
}
.pay form p{
    float: right;
    font-family: "微软雅黑";
    font-size: 18px;
    margin-right: 20px;
}
.pay form p span{
    color: red;
    font-weight: bold;
}

.pay form input{
    display: block;
    clear: both;
    float: right;
    margin:60px 20px 0 0;
    width: 120px;
    height: 35px;
    border:0;
    background: #2a8ebf;
    color: white;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 35px;
}
.pay_tool li{
    float: left;
    width: 240px;
    height: 90px;
}
.pay_tool li input{
    width: 5px;
    height: 5px;
}
.pay_tool li span.pay_tool1{
    float: left;
    background: url("../images/pay_zhi.jpg");
    width: 240px;
    height: 90px;
    display: inline-block;
}
.pay_tool li img{
    float: left;
}

.pay_success{
    width: 400px;
    height: 400px;
    margin:200px auto;
    clear: both;
}

.pay_success img{
    float: left;
    margin-right: 40px;
}

.pay_success p.p1{
    font-family: "微软雅黑";
    font-size: 36px;
    color: #2a8ebf;
    padding-left: 20px;
}

.pay_success p.p2{
    font-family: "微软雅黑";
    font-size: 16px;
    color: black;
    height: 35px;
    line-height: 35px;
}

.pay_success p.p2 a{
    text-decoration: none;
    color: #2a8ebf;
}