.person{
    width: 1000px;
    margin:10px auto;
}
.person_tx{
    float: left;
    clear: both;
    margin-left: 350px;
}
.person_info{
    float: left;
    margin-top: 70px;
    
}
.person_info h3,.person_info h4,.person_info p{
    font-family: "微软雅黑";
}
.my_info{
    clear: both;
    margin:0px auto;
    width: 996px;
    padding-top: 20px;
}
.info_list ul li{
    float: left;
    width: 332px;
    line-height: 40px;
    text-align: center;
}
.info_list ul li a{
    display: block;
    width: 332px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.info_list ul li a:hover{
    background: #ccc;
}
#person1{
    width: 1000px;
    height: 300px;
    border: 2px solid #ccc;
}
#person2{
    width: 1000px;
    height: 300px;
    border: 2px solid #ccc;
}
#person2 img{
    margin: 20px;
}
#person3{
    width: 1000px;
    height: 300px;
    border: 2px solid #ccc;
}
#person3 img{
    margin: 20px;
    float: left;
}
.comment {
    float: left;
    width: 400px;
    margin-left: 20px;
}
.comment p{
    margin-top: 20px;
}
.comment p a{
    text-decoration: none;
    color: black;
    font-family: "微软雅黑";
    font-size: 16px;
}
.comment p span{
    color: red;
}
.comment form{
    margin-top: 10px;
}
.comment form table   tr td textarea{
    width: 300px;
    height: 150px;
}
.comment form input.submit{
    margin-top: 10px;
    
}

