/*全屏舒展*/
html,body{ width: 100%; height: 100%;}
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
/* 设置默认字体 */

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  /*overflow-x: hidden;*/
}

h1 {
  font-size: 3em !important;}
    
h2 {
  font-size: 2.8em !important; }

h3 {
  font-size: 1.75em !important;
 }
h1, h2 {
  font-family: Karla, Arial !important;
  font-weight: 400 !important; }

h3 {
  font-family: 'Open Sans' !important;
  font-weight: 300 !important; }

h4 {
  font-family: 'Open Sans' !important;
  font-weight: 600 !important; }
h5{
    font-family: sans-serif;
}
p{
    font-family: 'Open Sans';
}
span{
    font-family: sans-serif;
}

/* 重置列表元素 */
ul, li, ol {
    list-style: none;
}
/* 重置文本格式元素 */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #06C;
}
/* 重置表单元素 */
legend {
    color: #000;
}
/* for ie6 */
fieldset, img {
    border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
    overflow-y: scroll;
}

/* ````````````*/
img{
    margin: 0;
    padding: 0;
    border: none;
}