.register{
    width: 600px;
    margin: 0px auto;
    line-height: 80px;
    text-align: center;
    font-family: "微软雅黑";
}
.register input,p,span,a{
    font-family: "微软雅黑";  
    color: #333333; 
}
.register ul{
    margin-top: 30px;
}
.register li label{
    width: 120px;
    display: inline-block;
    margin-right: 20px;
}
.register input[type=text]{
    width: 220px;
    height: 34px;
    border:1px solid #AAAAAA;
    padding: 3px 8px;
    background: url("../images/red_asterisk.png") no-repeat #FFF 98%;
    border-radius: 5px;
    transition:padding-right .25s;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}
.register input[type=password]{
    width: 220px;
    height: 34px;
    border:1px solid #AAAAAA;
    padding: 3px 8px;
    background: url("../images/red_asterisk.png") no-repeat #FFF 98%;
    border-radius: 5px;
    transition:padding-right .25s;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}
.register input[type=submit]{
    width: 300px;
    height: 50px;
    background-color: #008fd1;
    border:0;
    color: white;
}
.register ul li input:focus{
    border-color: #C00;
    background-image: url("../images/invalid.png") ;
    padding-right: 70px;
}
.register *:focus{
    outline: none;
}
.left{
    margin-left: -100px;
}
.register ul img{
    width: 64px;
    height: 20px;
}